*{
    margin: 0;
    padding: 0;
    color: var(--cor_secundary);
}
:root{
    --cor_primary: #FFFFFF;
    --cor_secundary: #060A51;
    --cor_tres: #E8DEF8;
    --cor_quatro: #B8B2B2;
    --cor_cinco : #0a64b4;
}
body{
    height: 100vh;
    display: flex;
    gap: 1rem;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
nav.menu_lateral {
    width: 60px;
    height: 100%;
    background-color: var(--cor_primary);
    padding: 0px 0 0px 10px;
    box-shadow: 3px 0 0 var(--cor_tres);
    overflow: hidden;

    position: relative;
    top: 0;
left: 0;
    transition: width 0.3s ease;
  }
  
  /* Menu expandido */
nav.menu_lateral.expandido {
    width: 220px;
  }
  
  /* Esconde os textos quando não expandido */
nav.menu_lateral:not(.expandido) .txt_menu {
    display: none;
  }
  
.menu_expansive {
    width: 35px;
    padding-left: 10px;
    margin-top: 1rem;
  }
.menu_expansive:hover{
    background: var(--cor_tres);
    border-radius: 10px;
}
  
.menu_expansive > i {
    color: var(--cor_secundary);
    font-size: 26px;
    cursor: pointer;
  }
ul{
    height: 100%;
    list-style: none;
    
}
.item_menu > a{
    color: var(--cor_secundary);
    text-decoration: none;
    padding: 20px 10px;
    display: flex;
    line-height: 30px;
    border-radius: 10px;
}
.txt_menu{
    margin-left: 20px;
}
.icon > i {
    font-size: 22px;
}
.item_menu{
    transition: 1s;
}

.item_menu:hover{
    background: var(--cor_tres);
    border-radius: 10px 0 0px 10px;
}
main{
    margin: 2rem;
}
main > h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;

}

#img_principal{
    width: 400px;
    height: 300px;
    background-size: cover;
}

main > #section1{
    margin: 20px;
    display: flex;
    gap: 5rem;
}
main > #section1 > div > h3{
    font-size: 30px;
}

main > #section1 > div > p{
    font-size: 20px;
    margin: 10px;
}
main > #section1 > div{
    display: flex;
    gap: 10px;
    flex-direction: column;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
main > #section2 > h2{
    font-size: 28px;
}

main > #section2 > ul{
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 32px;
}

main > #section2 > ul > a > li{
    display: flex;
    gap: 20px;
    line-height: 55px;
    border: 2px solid #B8B2B2;
    padding: 20px;
    border-radius: 10px;
    transition: 0.5s ease;
    box-shadow: 8px 5px 8px #B8B2B2;
}

main > #section2 > ul > a > li > i{
    font-size: 64px;
}

main > #section2 > ul > a {
    text-decoration: none;
    font-size: 18px;
}
main > #section2 > ul > a > li:hover{
    padding: 30px;
}
main > div > .code{
    width: 600px;
    height: 300px;
    overflow: scroll;
    overflow-x: hidden;
    background: var(--cor_quatro);
    scrollbar-color: var(--cor_secundary) var(--cor_quatro);
    border-radius: 20px;
    transition: 0.6s ease;
}
main > div >.code:hover{
    padding: 10px;
}

main >div> h2{
    font-size: 30px;
    margin: 10px;
}
.main_code{
    display: flex;
    flex-direction: column;   
}

main > #div2{
    margin-top: 20px;
    display: flex;
    gap: 10rem;
    justify-content: space-around;
}

main > #div2 > h2{
    font-size: 32px;
}

main > div > section >button{
    height: 50px;
    border-radius: 10px;
    padding: 0px 5px 0 5px;
    color: var(--cor_primary);
 background-color: var(--cor_cinco);
    border: none;
    cursor: pointer;
    transition: 0.5s  ease
}
main > div > section > button:hover{
    padding: 10px;
    background-color: var(--cor_secundary);
}

main > #div2 > #desafios > p{
    font-size: 18px;
}
main > #div2 > #desafios > h3{
    margin: 5px 0 5px 0;
}
.guia-titulo{
    margin-top: 50px;
    font-size: 50px;
    font-weight: 500;
}
.comp-subtitulo{
    font-weight: 400;
}

.montagem-btn{
    
    background-color:#1F22ED;
    border-radius: 5px;
    color: #FFFFFF;
    border: none;
    padding: 15px;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
}